<footer class="fixed-bottom">
    <nav class="navbar sticky-bottom bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="" style="color: #f6f1ebd1;">
          <img
            src="/images/logo.png"
            alt="Logo"
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          CAST Coffee Shop
        </a>
      </div>
    </nav>
  </footer>
  